h1 {
  font-family: "Pacifico", cursive;
  color: #db3eb1;
  text-decoration: underline;
  text-decoration-color: #41b6e6;
  font-style: italic;
}
.Wrapper {
  height: 100vh;
  display: grid;
}
.center--wrapper {
  align-self: center;
  justify-self: center;
}
button.btn1 {
  background-color: #41b6e6 !important;
  border-color: #db3eb1 !important;
}
.badge {
  cursor: pointer;
}
.badge-danger {
  background-color: #41b6e6 !important;
}
.action-button{
    position:fixed;
    bottom:20px;
    right:20px;background:#943edb;
    color:white ;
    padding:15px 40px;
    font-size:16px;
    font-family: 'Pacifico', cursive;
    border: 3px solid #42b6e6;
    /* border-radius: 10px; */
    cursor:pointer;
}
.Toastify{
    position:fixed;
}
.action-button.btn2{
    right:230px;
    font-size:20px;
}
.result-wrapper {
    text-align: center;
    margin-top: 30px;
  }
.result-wrapper div {
    font-size: 40px;
    color: #585858;
  }
.result-wrapper h3 {
    color: #41b6e6;
  }